.siesta {
    padding: 107px 0;
    position: relative;
}

.siesta-img {
    position: absolute;
    top: -108px;
    right: 236px;
}

.siesta-wrapper {
    display: flex;
    gap: 124px;
    justify-content: center;
    align-items: center;
}

.siesta-title {
    margin: 0 auto;
    max-width: 300px;
    font-weight: 700;
    font-size: 48px;
    line-height: 106%;
    text-align: center;
    color: #dc3755;
}

.siesta-desc {
    margin-top: 28px;
    max-width: 387px;
    font-weight: 400;
    font-size: 18px;
    line-height: 114%;
    text-align: center;
    color: var(--dark-blue);
}

.siesta-btn {
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.siesta-btn p {
    max-width: 130px;
    font-weight: 800;
    font-size: 16px;
    line-height: 114%;
    text-align: center;
    color: var(--dark-blue);
}

@media screen and (max-width: 2299px) {
    .siesta-img {
        position: absolute;
        top: -116px;
        right: 209px;
    }

}

@media screen and (max-width: 1919px) {
    .siesta-img {
        position: absolute;
        top: -116px;
        right: 17px;
    }

}

@media screen and (max-width: 1719px) {
    .siesta-img {
        position: absolute;
        top: -121px;
        right: -13px;
    }

}

@media screen and (max-width: 1514px) {
    .siesta-img {
        position: absolute;
        top: -121px;
        right: -72px;
    }

    .siesta-wrapper {
        gap: 138px;
    }
}

@media screen and (max-width: 1200px) {
    .siesta {
        padding: 27px 0 53px 0;
        position: relative;
    }

    .siesta-img {
        display: none;
    }

    .siesta-wrapper {
        display: flex;
        flex-direction: column;
        gap: 52px;
        justify-content: center;
        align-items: center;
    }

    .siesta-wrapper img {
        width: 438px;
    }

    .siesta-title {
        margin: 0 auto;
        max-width: 300px;
        font-weight: 700;
        font-size: 42px;
        line-height: 106%;
        text-align: center;
        color: #dc3755;
    }

    .siesta-desc {
        margin-top: 28px;
        max-width: 387px;
        font-weight: 400;
        font-size: 16px;
        line-height: 114%;
        text-align: center;
        color: var(--dark-blue);
    }

    .siesta-btn {
        margin-top: 48px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }

    .siesta-btn p {
        max-width: 130px;
        font-weight: 800;
        font-size: 16px;
        line-height: 114%;
        text-align: center;
        color: var(--dark-blue);
    }

    .siesta-btn svg {
        width: 75px;
        height: 75px;
    }
}

@media screen and (max-width: 767px) {
    .siesta {
        padding: 45px 0 45px 0;
        position: relative;
    }

    .siesta-img {
        display: none;
    }

    .siesta-wrapper {
        display: flex;
        flex-direction: column;
        gap: 52px;
        justify-content: center;
        align-items: center;
    }

    .siesta-wrapper img {
        width: 371px;
    }

    .siesta-title {
        margin: 0 auto;
        max-width: 220px;
        font-weight: 700;
        font-size: 34px;
        line-height: 106%;
        text-align: center;
        color: #dc3755;
    }

    .siesta-desc {
        margin-top: 22px;
        max-width: 387px;
        font-weight: 400;
        font-size: 18px;
        line-height: 114%;
        text-align: center;
        color: var(--dark-blue);
    }

    .siesta-btn {
        display: none;
    }
}

@media screen and (max-width: 487px) {
    .siesta {
        padding: 45px 0 45px 0;
        position: relative;
    }

    .siesta-img {
        display: none;
    }

    .siesta-wrapper {
        display: flex;
        flex-direction: column;
        gap: 52px;
        justify-content: center;
        align-items: center;
    }

    .siesta-wrapper img {
        width: 371px;
    }

    .siesta-title {
        margin: 0 auto;
        max-width: 220px;
        font-weight: 700;
        font-size: 34px;
        line-height: 106%;
        text-align: center;
        color: #dc3755;
    }

    .siesta-desc {
        margin-top: 22px;
        max-width: 387px;
        font-weight: 400;
        font-size: 18px;
        line-height: 114%;
        text-align: center;
        color: var(--dark-blue);
    }

    .siesta-btn {
        display: none;
    }
}

@media screen and (max-width: 399px) {
    .siesta {
        padding: 22px 0 47px 0;
        position: relative;
    }

    .siesta-img {
        display: none;
    }

    .siesta-wrapper {
        display: flex;
        flex-direction: column;
        gap: 52px;
        justify-content: center;
        align-items: center;
    }

    .siesta-wrapper img {
        width: 342px;
    }

    .siesta-title {
        margin: 0 auto;
        max-width: 220px;
        font-weight: 700;
        font-size: 34px;
        line-height: 106%;
        text-align: center;
        color: #dc3755;
    }

    .siesta-desc {
        margin-top: 22px;
        max-width: 340px;
        font-weight: 400;
        font-size: 18px;
        line-height: 114%;
        text-align: center;
        color: var(--dark-blue);
    }

    .siesta-btn {
        display: none;
    }
}
